:root {
	--margin: 0.5rem;
	--backgroundColor: rgb(24, 16, 23);
	--primaryColor: rgb(170, 144, 166)
}

body {
	margin: var(--margin);
	width: calc(100dvw - var(--margin) * 2);
	height: calc(100dvh - var(--margin) * 2);

	background-color: var(--backgroundColor);
	touch-action: none;
}

input::placeholder {
	color: rgb(79, 81, 85);
	background-color: var(--primaryColor);
}

#body {
	height: 100%;
}

.flex {
	display: flex;
	flex-direction: column;
}

#topSection {
	margin: 5px;
}

#topSection * {
	margin-top: 5px;
	color: black;
}

#gbLinkInputContainer {
	display: inline-grid;
}

#gbLinkInputProgress {
	--height: 4px;
	grid-column-start: 1;
	grid-row-start: 1;
	align-self: end;
	width: 0;
	height: var(--height);
	background-color: rgb(47, 105, 192);
	border-radius: var(--height);
}

.progressBar {
	--progress: 0;
	width: calc(100% * var(--progress)) !important;
}

#gbLinkInput {
	grid-column-start: 1;
	grid-row-start: 1;
	font-size: 0.9rem;
	min-width: 25dvw;
	height: 2.5dvh;
	background-color: var(--primaryColor);
	border-color: gray;
	transition: border-color 0.5s;
}

#gbLinkInput:invalid {
	border-color: red;

	animation: pop 0.3s forwards;
}

.pop {
	animation: pop 0.3s forwards;
}

@keyframes pop {
	50% {
		scale: 1.1;
	}

	100% {
		scale: 1;
	}
}

#topSection > #modUpload {
	font-size: 1rem;
	color: white;
}

#mapList {
	min-width: 20dvw;
	/* margin: 0 1dvw 0 1dvw; */
	/* margin-left: 0.5%; */
	width: fit-content;
	font-size: 1rem;
	display: block;
}

#canvasContainer {
	box-sizing: border-box;

	border: 5px black solid;
	border-radius: 1.5rem;

	flex: 1 1 auto;

	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;

	overflow: hidden;
}

#test {
	flex: 1 1 auto;
	text-align: center;
}