:root {
	--margin: 0.5rem;
	--backgroundColor: rgb(24, 16, 23);
}

body {
	margin: var(--margin);
	width: calc(100dvw - var(--margin) * 2);
	height: calc(100dvh - var(--margin) * 2);

	background-color: var(--backgroundColor);
	touch-action: none;
}

#body {
	height: 100%;
}

.flex {
	display: flex;
	flex-direction: column;
}

#topSection {
	margin: 5px;
}

#topSection * {
	margin-top: 5px;
	background-color: rgb(170, 144, 166);
	color: black;
}

#topSection > input {
	font-size: 1rem;
	display: block;
}

#mapList {
	width: fit-content;
	font-size: 1rem;
}

#canvasContainer {
	box-sizing: border-box;

	border: 5px black solid;
	border-radius: 1.5rem;

	flex: 1 1 auto;

	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;

	overflow: hidden;
}

#test {
	flex: 1 1 auto;
	text-align: center;
}